.studio__card {
  border: 1px solid #ccc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.studio__header {
  font-size: 22px;
  color: #333;
}

.studio__info {
  letter-spacing: 1px;
  color: #918a8a;
}

.studio__pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.studio__yearly,
.studio__monthly {
  text-align: center;
}

.studio__yearcost {
  font-size: 40px;
}

.studio__monthcost {
  font-size: 20px;
}

.studio__features {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.studio__features li {
  margin-bottom: 10px; 
}

.button-container {
  display: flex;
  justify-content: center;
}

.studio__button {
  background-color: #EC520B;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 75px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.studio__button:hover {
  background-color: #ff7f00;
}